@import "fonts";
@import "_vars.scss";
@import "reset.scss";

body{
    
    //background: url("@img/menu__pizza1.png") 0 0 no-repeat;
    font-size: 2.5rem;
    color: white;
    background-color: $body;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", 
    "Segoe UI Symbol", "Noto Color Emoji", 
    "Proxima Nova";

}

html{
    font-size: 62.5%;
}



@import "styleblog/container.scss";
@import "styleblog/btn.scss";
@import "styleblog/header.scss";
@import "styleblog/nav.scss";
@import "styleblog/post.scss";
@import "styleblog/text.scss";
@import "styleblog/seans.scss";
@import "styleblog/chapter.scss";
@import "styleblog/icon.scss";
@import "styleblog/ritemstyle.scss";
@import "styleblog/room.scss";
@import "styleblog/footer.scss";
@import "styleblog/review.scss";
@import "styleblog/media.scss";