.li__img{
   
    max-height: 100px;
    height: 100%;
    width: 100%;
    margin-right: 5.9rem;
}

.li__img-one{
    max-width: 5.8rem;  
}

.li__img-tt{
    max-width: 7.7rem;
}

.li__list{
    margin-top: 7rem;
    
}