@media (max-width:1800px){
 
    
    .first_fx {
        padding-top: 14.2rem;
    }
    .first__title {
        
        font-size: 4.7rem;
        margin-bottom: 6rem;
    }
    .first__descr {
        margin-bottom: 6rem;
        font-size: 2rem;
    }
    .first__descr {
        font-size: 2.3rem;
    }
    .btn--home {
        padding: 4rem 11rem;
        
        font-size: 2.5rem;
    }
    .btn--mb15 {
        margin-bottom: 10rem;
    }
    .first-img__pizza {
       
        max-width: 94.9rem;
        
    }
    .first-img__potatos {
        
        top: -4%;
       
        padding-right: 5.9rem;
        max-width: 18.9rem;
    }
    .first__plus-item .delivery {
        max-width: 4.5rem;
        
    }
    .first__plus {
        
        max-width: 73.7rem;
        
    }
    .first__plus-text {
        font-size: 1.7rem;
    }

    .menu__title {
        font-size: 5rem;
        
    }
    .menu__link {
        
        max-width: 30rem;

    }
    .menu__nav {
        margin-bottom: 9rem;
    }
    .menu__list {
        
        font-size: 2.3rem;
        padding: 2.8rem 11.4rem;
        
    }
    .menu__product-card {
        max-width: 30.1rem;
    }
    .btn--card {
        padding: 1.8rem 7.9rem;
        font-size: 1.5rem;
        
    }
    .menu__product-name {
        
        font-size: 2.8rem;
        
    }
    .first-img__potatos2 {
        
        top: -17%;
        
        padding-right: 3.9rem;
       
        max-width: 19.9rem;
    }
    .first-img__pizza2 {
        
        max-width: 66rem;
        
        padding-right: 0rem;
    }
    .first-img__pizza-mrr {
        margin-right: 228px;
    }
    .second__pdt {
        padding-top: 11.6rem;
    }
    .second__pdb {
        padding-bottom: 18.6rem;
    }
    .second__title {
       
        font-size: 4.9rem;
        
        max-width: 74.9rem;
        
        margin-top: 4rem;
        margin-bottom: 5rem;
    }
    .text {
        max-width: 55.2rem;
        font-size: 4.9rem;
        
        line-height: 1.1;
    }
    .text b {
        font-size: 5rem;

    }
    .text__NameQuality {
        font-size: 4.9rem;

    }
    .li__list {
        margin-top: 6rem;
    }
    .text__quality-header {
        font-size: 3rem;
        padding-bottom: 2.2rem;
    }
    .text__quality-description {

        font-size: 2rem;

    }
    .text__quality {
        max-width: 54.6rem;
    }
    .li__img-one {
        max-width: 4.4rem;
    }

    .li__img {
        margin-right: 5rem;
    }
    .li__img-tt {
        max-width: 5rem;
    }
    .img__quality {
        max-width: 63.1rem;
        margin-top: 2rem;
    }
    .second-mrb {
        margin-bottom: 5.5rem;
    }
    .menu__delivery {
        
        max-width: 36rem;
        
    }
    .menu__delivery-pd {
        padding-bottom: 5.9rem;
    }
    .img__clock {
        max-width: 24.8rem;
        margin-top: -10.6rem;
    }
    .menu__product-title {
        
        font-size: 13px;
    
    }
    .menu__delivery-pd {
        padding-bottom: 4.9rem;
    }
    .img__cart {
        max-width: 29.6rem;
        margin-bottom: 1rem;
    }
    .img__bike {
        max-width: 29rem;
    }
    .img__cart, .img__bike {
        
        margin-top: -15.2rem;
        padding-bottom: 1.5rem;
    }
    .menu__delivery-pdt {
        padding-top: 12rem;
        margin-bottom: -1rem;
    }
    .review {
        max-width: 58rem;
        margin: 52px 65px 46px 65px;
        
    }
    .review__name {
        
        font-size: 2.4rem;
        
    }
    .review__display {
        padding: 2rem 3rem;
    }
    .review__text {
        
        font-size: 1.4rem;
        padding: 0 3rem 3rem 3rem;
    }
    
    .text__contacts-name {
     
        font-size: 3rem;
       
    }
    .text__contacts-description {

        font-size: 2.4rem;

    }
    

}

@media (max-width:1640px){
    
    .img_fon-two {
        background-image: url(/img/img_png/fon.png);
        
    }
    .first_fx {
        padding-top: 12.2rem;
    }
    .first__title {
        max-width: 58rem;
        font-size: 3.9rem;
        margin-bottom: 4rem;
    }
    .first__descr {
        margin-bottom: 4rem;
        font-size: 1.8rem;
        font-weight: 400;
    }
    .first__descr b{
        font-size: 2.5rem;
    }
    .btn--home {
        padding: 2rem 8rem;
        
        font-size: 2rem;
    }
    .btn--mb15 {
        margin-bottom: 8rem;
    }
    .first-img__pizza {
       
        max-width: 75.9rem;
        padding-right: 3rem;
        
    }
    .first-img__potatos {
        
        top: -10%;
       
        padding-right: 4rem;
        max-width: 13.9rem;
    }
    .first__plus-item .delivery {
        max-width: 3.5rem;
    }
    .first__plus {
        
        max-width: 57.7rem;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        
    }
    .first__plus-item {
        display: flex;
        max-width: 18rem;
    }
    .first__plus-text {
        font-size: 1.2rem;
        padding-left: 1.7rem;
    }
    .second {
        margin-top: -91px;
    }
    .second-container {
        margin-top: 7rem;
    }
    .menu__title {
        font-size: 4.2rem;
        
    }
    .menu__link {
        
        max-width: 26rem;

    }
    .menu__nav {
        margin-bottom: 7rem;
    }
    .menu__list {
        
        font-size: 2.3rem;
        padding: 2.2rem 7.4rem;
        
    }
    .menu__product-card {
        max-width: 25.9rem;
        margin-bottom: 6rem;
    }
    .btn--card {
        padding: 1.2rem 6.6rem;
        font-size: 1.2rem;
        
    }
    .menu__product-name {
        
        font-size: 2.2rem;
        
    }
    .first-img__potatos2 {
        
        top: -16%;
        padding-right: 2.9rem;
        max-width: 17.9rem
    }
    .first-img__pizza2 {
        
        max-width: 54rem;
        
        padding-right: 0rem;
    }
    .first-img__pizza-mrr {
        margin-right: 221px;
    }
    .second__pdt {
        padding-top: 9.6rem;
    }
    .second__pdb {
        padding-bottom: 12.6rem;
    }
    .second__title {
       
        font-size: 4.2rem;
        
        max-width: 74.9rem;
        
        margin-top: 4rem;
        margin-bottom: 5rem;
    }
    .text {
        max-width: 44.6rem;
        font-size: 4.2rem;
        
        line-height: 1.3;
    }
    .text b {
        font-size: 4.4rem;

    }
    .container__Quality {
        margin-top: 8rem;
    }
    .text__NameQuality {
        font-size: 4.4rem;

    }
    .li__list {
        margin-top: 6rem;
    }
    .text__quality-header {
        font-size: 2.9rem;
        padding-bottom: 1.2rem;
    }
    .text__quality-description {

        font-size: 1.8rem;
        line-height: 2.3rem;

    }
    .text__quality {
        max-width: 50.6rem;
    }
    .li__img-one {
        max-width: 4rem;
    }

    .li__img {
        margin-right: 4rem;
    }
    .li__img-tt {
        max-width: 4.7rem;
    }
    .img__quality {
        max-width: 56.1rem;
        margin-top: 2rem;
    }
    .second-mrb {
        margin-bottom: 5.5rem;
    }
    .menu__delivery {
        
        max-width: 30rem;
        
    }
    .menu__delivery-pd {
        padding-bottom: 5.9rem;
    }
    .img__clock {
        max-width: 20.8rem;
        margin-top: -9.6rem;
    }
    .menu__product-title {
        
        font-size: 11px;
    
    }
    .menu__delivery-pd {
        padding-bottom: 4.9rem;
    }
    .img__cart {
        max-width: 25.1rem;
        margin-bottom: 1rem;
    }
    .img__bike {
        max-width: 25rem;
    }
    .img__cart, .img__bike {
        
        margin-top: -12.2rem;
    padding-bottom: 0rem;
    }
    .menu__delivery-pdt {
        padding-top: 8rem;
        margin-bottom: -1rem;
    }
    .review {
        max-width: 54rem;
        margin: 52px 65px 46px 65px;
        
    }
    .review__name {
        
        font-size: 2.4rem;
        
    }
    .review__display {
        padding: 2rem 2rem;
    }
    .review__text {
        
        font-size: 1.4rem;
        padding: 0 2rem 3rem 2rem;
    }
    
    .text__contacts-name {
     
        font-size: 2.5rem;
       
    }
    .text__contacts-description {

        font-size: 2rem;

    }
    
}
@media (max-width:2240px){
    .container {
        max-width: 124.2rem;
        
    }
    //шапка
    .header__container {
        
       
        margin-top: 3rem;
        margin-bottom: 5rem;
       
    }
    .header__container img {
        max-width: 17.1rem;
    
    }
    .nav__link {
        
        font-size: 1rem;
    }
    .header-contacts__feedback, .header-position__city {
        font-size: 1rem;
        
    }
    .header-position__time {
        
        font-size: 1rem;
        
    }
    .nav{
        padding-bottom: 1rem;
    }
    .header-contacts__link {
        
        font-size: 1rem;
        
    }

    // конец шапки
    
    
    .first_fx {
        padding-top: 12.2rem;
    }
    .first__title {
        max-width: 58rem;
        font-size: 3.9rem;
        margin-bottom: 2.5rem;
    }
    .first__descr {
        margin-bottom: 7rem;
        font-size: 1.4rem;
        font-weight: 400;
    }
    .first__descr b{
        font-size: 2rem;
    }
    .btn--home {
        padding: 2rem rem;
        
        font-size: 2rem;
    }
    .btn--mb15 {
        margin-bottom: 9rem;
    }
    .first-img__pizza {
        max-width: 75.9rem;
        padding-right: 29rem;
    }
    .first-img__potatos {
        top: -10%;
        padding-right: 30rem;
        max-width: 12.9rem;
    }
    .first__plus-item .delivery {
        max-width: 3.5rem;
    }
    .first__plus {
        
        max-width: 57.7rem;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        
    }
    .first__plus-item {
        display: flex;
        max-width: 18rem;
    }
    .first__plus-text {
        font-size: 1.2rem;
        padding-left: 1.7rem;
    }
    .second {
        margin-top: -88px;
    }
    .second-container {
        margin-top: 7rem;
    }
    .menu__title {
        font-size: 3.6rem;
        
    }
    .menu__link {
        
        max-width: 22rem;

    }
    .menu__nav {
        margin-bottom: 7rem;
    }
    .menu__list {
        
        font-size: 2rem;
        padding: 1.8rem 7.4rem;
        
    }
    .menu__product-card {
        max-width: 24.9rem;
        margin-bottom: 6rem;
    }
    .btn--card {
        padding: 1.2rem 6.3rem;
        font-size: 1rem;
        
    }
    .menu__product-name {
        
        font-size: 1.7rem;
        
    }
    .first-img__potatos2 {
        
        top: -16%;
        padding-right: 2.9rem;
        max-width: 17.9rem
    }
    .first-img__pizza2 {
        
        max-width: 54rem;
        
        padding-right: 0rem;
    }
    .first-img__pizza-mrr {
        margin-right: 221px;
    }
    .second__pdt {
        padding-top: 9.6rem;
    }
    .second__pdb {
        padding-bottom: 10.6rem;
    }
    .second__title {
       
        font-size: 4.2rem;
        
        max-width: 74.9rem;
        
        margin-top: 4rem;
        margin-bottom: 5rem;
    }
    .text {
        max-width: 44.6rem;
        font-size: 4.2rem;
        
        line-height: 1.3;
    }
    .text b {
        font-size: 4.4rem;

    }
    .container__Quality {
        margin-top: 8rem;
    }
    .text__NameQuality {
        font-size: 4.4rem;

    }
    .li__list {
        margin-top: 6rem;
    }
    .text__quality-header {
        font-size: 2.9rem;
        padding-bottom: 1.2rem;
    }
    .text__quality-description {

        font-size: 1.8rem;
        line-height: 2.3rem;

    }
    .first-img {
        position: absolute;
        display: block;
        right: 9%;
    }
    .text__quality {
        max-width: 50.6rem;
    }
    .li__img-one {
        max-width: 4rem;
    }

    .li__img {
        margin-right: 4rem;
    }
    .li__img-tt {
        max-width: 4.7rem;
    }
    .img__quality {
        max-width: 53.1rem;
        margin-top: 2rem;
    }
    .second-mrb {
        margin-bottom: 5.5rem;
    }
    .menu__delivery {
        
        max-width: 29rem;
        
    }
    .menu__delivery-pd {
        padding-bottom: 5.9rem;
    }
    .img__clock {
        max-width: 19.8rem;
        margin-top: -9.6rem;
    }
    .menu__product-title {
        
        font-size: 11px;
    
    }
    .menu__delivery-pd {
        padding-bottom: 4.9rem;
    }
    .img__cart {
        max-width: 24.1rem;
        margin-bottom: 1rem;
    }
    .img__bike {
        max-width: 23.5rem;
    }
    .img__cart, .img__bike {
        
        margin-top: -12.2rem;
    padding-bottom: 0rem;
    }
    .menu__delivery-pdt {
        padding-top: 8rem;
        margin-bottom: -1rem;
    }
    .review {
        max-width: 49rem;
        margin: 52px 65px 46px 65px;
        
    }
    .review__name {
        
        font-size: 2rem;
        
    }
    .review__display {
        padding: 2rem 2rem;
    }
    .review__text {
        
        font-size: 1.2rem;
        padding: 0 2rem 3rem 2rem;
    }
    
    .text__contacts-name {
     
        font-size: 2.5rem;
       
    }
    .text__contacts-description {

        font-size: 2rem;

    }
    
    
}

@media (max-width: 1684px){
    .first-img__pizza {
        max-width: 75.9rem;
        padding-right: 19rem;
    }
    .first-img__potatos {
        top: -10%;
        padding-right: 23rem;
        max-width: 12.9rem;
    }
    .first-img {
        
        right: 0;
    }
    
    
}

@media ( max-width: 1500px){
    .first-img__potatos {
        top: -10%;
        padding-right: 13rem;
        max-width: 12.9rem;
    }
    .first-img__pizza {
        max-width: 75.9rem;
        padding-right: 8rem;
    }
}
@media (max-width:1310px){
    .container {
        max-width: 105.1rem;
        
    }
    .img_fon-two{
        background-image: url("/img/img_png/fon.png");
        
    }
    //шапка
    .header__container {
        
       
        margin-top: 3rem;
        margin-bottom: 5rem;
       
    }
    .header__img {
        padding-right: 3rem;
    }
    .header__container img {
        max-width: 16.1rem;
    }
    .header__cart {
       
        font-size: 1.8rem;
    }
    .nav__link {
        font-size: 0.9rem;
        padding-right: 3rem;
    }
    .header-contacts__feedback, .header-position__city {
        font-size: 0.8rem;
        
    }
    .header-position__time {
        
        font-size: 0.8rem;
        
    }
    .nav{
        padding-bottom: 1rem;
    }
    .header-contacts__link {
        
        font-size: 0.8rem;
        
    }

    // конец шапки
    
    .first_fx {
        padding-top: 10.2rem;
    }
    .first__title {
        max-width: 50rem;
        font-size: 3.4rem;
        margin-bottom: 2.8rem;
    }
    .first__descr {
        margin-bottom: 4rem;
        font-size: 1.4rem;
        font-weight: 400;
    }
    .first-container {
        
        padding-top: 7.6rem;
        padding-bottom: 9.6rem;
    }
    .first__descr b{
        font-size: 2rem;
    }
    .btn--home {
        padding: 1.8rem 6rem;
        
        font-size: 1.6rem;
    }
    .btn--mb15 {
        margin-bottom: 8rem;
    }
    .first-img__pizza {
       
        max-width: 58.9rem;
        padding-right: 5rem;
        
    }
    .first-img__potatos {
        
        top: -4%;
        padding-right: 3rem;
        max-width: 10.9rem;
    }
    .first__plus-item .delivery {
        max-width: 3.5rem;
    }
    .first__plus {
        
        max-width: 57.7rem;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        
    }
    .first__plus-item {
        display: flex;
        max-width: 18rem;
    }
    .first__plus-text {
        font-size: 1.2rem;
        padding-left: 1.7rem;
    }
    .second {
        margin-top: -70px;
    }
    .second-container {
        margin-top: 5rem;
    }
    .menu__title {
        font-size: 3.3rem;
        
    }
    .menu__link {
        
        max-width: 22rem;

    }
    .menu__nav {
        margin-bottom: 7rem;
    }
    .menu__list {
        
        font-size: 2rem;
        padding: 1.8rem 7.4rem;
        
    }
    .menu__product-card {
        max-width: 21.9rem;
        margin-bottom: 6rem;
    }
    .btn--card {
        margin: 0 auto;
        padding: 1.2rem 5rem;
        font-size: 1rem;
        display: block;
        text-align: center;
        
    }
    .menu__product-name {
        
        font-size: 1.7rem;
        margin-bottom: 1.8rem;
        
    }
    .first-img__potatos2 {
        
        top: -7%;
        padding-right: 2.9rem;
        max-width: 12.9rem;
    }
    .first-img__pizza2 {
        
        max-width: 45rem;
        
        padding-right: 0rem;
    }
    .first-img__pizza-mrr {
        margin-right: 157px;
    }
    .second__pdt {
        padding-top: 5.6rem;
    }
    .second__pdb {
        padding-bottom: 10.6rem;
    }
    .second__title {
       
        font-size: 3.2rem;
        max-width: 69.9rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    .text {
        max-width: 34.6rem;
        font-size: 3.2rem;
        line-height: 1.3;
    }

    .text b {
        font-size: 3.7rem;

    }
    .container__Quality {
        margin-top: 7rem;
    }
    .text__NameQuality {
        font-size: 3.4rem;

    }
    .li__list {
        margin-top: 4rem;
    }
    .text__quality-header {
        font-size: 2.2rem;
        padding-bottom: 1.2rem;
    }
    .text__quality-description {

        font-size: 1.5rem;
        line-height: 2.3rem;

    }
    .text__quality {
        max-width: 42.6rem;
    }
    .li__img-one {
        max-width: 3rem;
    }

    .li__img {
        margin-right: 4rem;
    }
    .li__img-tt {
        max-width: 3.7rem;
    }
    .img__quality {
        max-width: 44.1rem;
        margin-top: 2rem;
    }
    .second-mrb {
        margin-bottom: 5.5rem;
    }
    .menu__delivery {
        
        max-width: 25rem;
        
    }
    .menu_product-info {
        
        margin-top: 1.5rem;
    }
    .menu__delivery-pd {
        padding-bottom: 3.4rem;
    }
    .img__clock {
        max-width: 15.8rem;
        margin-top: -7.6rem;
    }
    .menu__product-title {
        
        font-size: 10px;
    
    }
    .img__cart {
        max-width: 19.4rem;
        margin-bottom: 1rem;
    }
    .img__bike {
        max-width: 19.5rem;
    }
    .img__cart, .img__bike {
        
        margin-top: -10.5rem;
        padding-bottom: 0rem;
    }
    .menu__delivery-pdt {
        padding-top: 8rem;
        margin-bottom: -1rem;
    }
    .review {
        max-width: 40rem;
        margin: 58px 48px 58px 53px;
        
    }
    .review__name {
        
        font-size: 1.8rem;
        
    }

    .review__block {
        
        margin-top: 3.5rem;
        margin-bottom: 6rem;
    }

    .review__display {
        padding: 1.7rem 2rem;
    }
    .review__text {
        
        font-size: 1rem;
        padding: 0 2rem 3rem 2rem;
    }
    
    .text__contacts-name {
     
        font-size: 2rem;
       
    }
    .text__contacts-description {

        font-size: 1.5rem;

    }

    .swiper-wrapper {
        
        max-height: 434px;
       
    }
    .swiper-img{
        
        display: block;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: auto;
    }
    .image-slider__image img{
        max-width: 787px;
    }
    .menu__product-sign {
        background-color: #F8A511;
        cursor: pointer;
        max-width: 2rem;
        max-height: 2rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .sign__size-pl {
        padding-left: 1px;
    }
    .sign__size {
        font-size: 2rem;
        position: relative;
        /* padding-right: 68px; */
        /* margin: 0 auto; */
        right: 18%;
    }
}


//width 1050 до 770
@media (max-width:1050px){
    .container {
        max-width: 72.1rem;
        
    }
    .menu__products {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    //шапка
    .header__container {
        
       
        margin-top: 3rem;
        margin-bottom: 5rem;
       
    }
    .header__img {
        padding-right: 3rem;
    }
    .header__container img {
        max-width: 16.1rem;
    }
    .header__cart {
       
        font-size: 1.8rem;
    }
    
    .nav__link {
        font-size: 0.9rem;
        padding-right: 3rem;
    }
    .header-contacts__feedback, .header-position__city {
        font-size: 0.8rem;
        
    }
    .header-position__time {
        
        font-size: 0.8rem;
        
    }
    .nav{
        padding-bottom: 1rem;
        display: none;
    }
    .btn-bars{
        display: block;
    }
    .header-contacts__link {
        
        font-size: 0.8rem;
        
    }

    // конец шапки
    
    .first_fx {
        padding-top: 10.2rem;
    }
    .first__title {
        max-width: 50rem;
        font-size: 3rem;
        margin-bottom: 2.8rem;
    }
    .first__descr {
        margin-bottom: 4rem;
        font-size: 1.2rem;
        font-weight: 400;
    }
    .first-container {
        
        padding-top: 7.6rem;
        padding-bottom: 9.6rem;
    }
    .first__descr b{
        font-size: 1.6rem;
    }
    .btn--home {
        padding: 1.8rem 6rem;
        
        font-size: 1.6rem;
    }
    .btn--mb15 {
        margin-bottom: 8rem;
    }
    .first_fx{
        z-index: 2;
    }
    .first-img{
        z-index: 1;
    }
    .first-img__pizza {

        max-width: 44.9rem;
        padding-right: 5rem;
        padding-top: 5rem;
        
    }
    .first-img__potatos {
        
        top: -4%;
        padding-right: 5rem;
        max-width: 9.9rem;
    }
    .first__plus-item .delivery {
        max-width: 3rem;
        height: 2rem;
    }
    .first__plus-item .pizza__img{
        max-width: 2rem;
        height: 2rem;
    }
    .first__plus-item .cheese {
        max-width: 3.3rem;
        height: 2rem;

    }
    .first__plus {
        
        max-width: 45.7rem;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        
    }
    .img_fon-two{
        background-image: url("/img/img_png/fon.png");
       
    }
    .first__plus-item {
        display: flex;
        max-width: 14.4rem;
    }
    .first__plus-text {
        font-size: 1rem;
        padding-left: 1.3rem;
    }
    .second {
        margin-top: -47px;
    }
    .second-container {
        margin-top: 5rem;
    }
    .menu__title {
        font-size: 3.3rem;
        
    }

    .menu__item{
        flex-wrap: wrap;
    }

    .menu__link {
        
        max-width: 35rem;
        margin-bottom: 2rem;

    }
    .menu__nav {
        margin-bottom: 7rem;
    }
    .menu__list {
        
        font-size: 2rem;
        padding: 1.5rem 7.4rem;
        
    }
    .menu__product-card {
        max-width: 21.9rem;
        margin-bottom: 6rem;
    }
    .btn--card {
        margin: 0 auto;
        padding: 1.2rem 4.8rem;
        font-size: 1rem;
        display: block;
        text-align: center;
        
    }
    .menu__product-name {
        
        font-size: 1.7rem;
        margin-bottom: 1.8rem;
        
    }
    .first-img__potatos2 {
        top: -25%;
        padding-right: 0.9rem;
        max-width: 10.9rem;
    }
    .first-img__pizza2 {
        max-width: 31rem;
        padding-right: 0rem;
        position: relative;
        top: 0rem;
    }
    .first-img__pizza-mrr {
        margin-right: 92px;
    }
    .second__pdt {
        padding-top: 4.6rem;
    }
    .second__pdb {
        padding-bottom: 10.6rem;
    }
    .second__title {
        font-size: 2.7rem;
        max-width: 69.9rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .text {
        max-width: 32.6rem;
        font-size: 2.8rem;
        line-height: 1.3;
    }

    .text b {
        font-size: 3.2rem;
    }
    .container__Quality {
        margin-top: 3rem;
    }
    .text__NameQuality {
        font-size: 2.7rem;
    }
    .li__list {
        margin-top: 3rem;
    }
    .text__quality-header {
        font-size: 2rem;
        padding-bottom: 1.2rem;
    }
    .text__quality-description {

        font-size: 1.5rem;
        line-height: 2.3rem;

    }
    .text__quality {
        max-width: 35.6rem;
        
    }
    .li__img-one {
        max-width: 2rem;
    }

    .li__img {
        margin-right: 2rem;
    }
    .li__img-tt {
        max-width: 2.7rem;
    }
    .img__quality {
        max-width: 31.1rem;
        margin-top: 6rem;
    }
    .second-mrb {
        margin-bottom: 5.5rem;
    }
    .menu__delivery {
        max-width: 22rem;
    }
    .menu_product-info {
        
        margin-top: 1.5rem;
    }
    .menu__delivery-pd {
        padding-bottom: 2.4rem;
    }
    .img__clock {
        max-width: 11.8rem;
        margin-top: -5.6rem;
    }
    .menu__product-title {
        
        font-size: 10px;
    
    }
    .img__cart {
        max-width: 14.4rem;
        margin-bottom: 1.5rem;
    }
    .img__bike {
        max-width: 15.5rem;
    }
    .img__cart, .img__bike {
        margin-top: -8.5rem;
        padding-bottom: 0rem;
    }
    .menu__delivery-pdt {
        padding-top: 8rem;
        margin-bottom: -1rem;
    }
    .review {
        max-width: 57rem;
        margin: 58px 53px 58px 74px;
    }
    .review__name {
        
        font-size: 1.8rem;
        
    }

    .review__block {
        
        margin-top: 3.5rem;
        margin-bottom: 6rem;
    }

    .review__display {
        padding: 1.7rem 2rem;
    }
    .review__text {
        
        font-size: 1rem;
        padding: 0 2rem 3rem 2rem;
    }
    
    .text__contacts-name {
     
        font-size: 2rem;
       
    }
    .text__contacts-description {

        font-size: 1.5rem;

    }

    .swiper-wrapper {
        
        max-height: 434px;
       
    }
    .swiper-img{
        
        display: block;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: auto;
    }
    .image-slider__image img{
        max-width: 787px;
    }

    .img_fon{
        background-repeat: no-repeat;
        background-size: auto;
    }
    .first {
        background-repeat: no-repeat;
        background-size: auto;
        background-image: url(/img/img_png/main_img.png);
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 4px;
        right: auto;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 4px;
        left: auto;
    }
    .image-slider__image img {
        max-width: 654px;
    }
    .footer__contacts {
        display: block;
        /* padding-bottom: 1rem; */
        justify-content: space-between;
        max-width: 15.6rem;
        width: 100%;
    }
    .footer__contacts-list {
        line-height: 2;
        padding-bottom: 1rem;
    }
    .footer__container {
        display: flex;
        align-items: center;
        padding-top: 8rem;
        padding-bottom: 5rem;
        justify-content: space-between;
    }
    .review__nb{
        display: block;
    }
    .review__bn{
        display: none;
    }
   
}


@media (max-width:1004px){

    .first__title{
        max-width: 33rem;
        font-size: 2.3rem;
        margin-bottom: 1.8rem;
    }

    .first-img__pizza{
        max-width: 41.9rem;
    }
    .btn--home {
        padding: 1.3rem 6rem;
        font-size: 1.5rem;
    }
    .first__descr {
        margin-bottom: 3rem;
        
    }
}
@media (max-width: 916px){
    .first__plus-double{
        display: block;
        padding-top: 10.2rem;
    }
    
}
@media (max-width: 821px){
    .first-img__pizza {
        max-width: 44.9rem;
        padding-right: 0;
        padding-top: 5rem;
        opacity: 0.4;
        
    }
    
    
}
//width 770 до 420
@media (max-width: 771px){
    
    
    .img_fon-two{
        background-image: url("/img/img_png/fon.png");
        
    }
    .first-img__potatos {
        top: -4%;
        padding-right: 2rem;
        max-width: 9.9rem;
    }
    .first__descr {
        margin-bottom: 4rem;
        font-size: 1.5rem;
        font-weight: 400;
    }
    .btn--mb15 {
        margin-bottom: 10rem;
    }
    .first__title {
        max-width: 34rem;
        font-size: 2.9rem;
        margin-bottom: 2.8rem;
    }
    .second__pdt {
        padding-top: 5.6rem;
    }
    .second {
        margin-top: -37px;
    }
    .menu__product-card {
        max-width: 21.9rem;
        margin-bottom: 6rem;
        margin-right: 1rem;
    }
    .menu__title {

        font-size: 3rem;
        margin-bottom: 4rem;
        
    }
    .first__title {
        max-width: 34rem;
        font-size: 2.9rem;
        margin-bottom: 1.8rem;
    }
    .menu__link {
        
        max-width: 15rem;
        width: 100%;
        margin-bottom: 2rem;

    }
    .menu__nav {
        margin-bottom: 4rem;
    }
    .menu__list {
        
        font-size: 1.6rem;
        
        
    }
    
    .second__pdb {
        padding-bottom: 12.6rem;
    }
    .second__title {
       
        font-size: 4.2rem;
        
        max-width: 74.9rem;
        
        margin-top: 4rem;
        margin-bottom: 5rem;
    }
    .text {
        max-width: 44.6rem;
        font-size: 4.2rem;
        
        line-height: 1.3;
    }
    .text b {
        font-size: 4.4rem;

    }

    .menu__products {
        justify-content: space-evenly;
    }

   
    .first-img__pizza2 {
        max-width: 40rem;
        padding-right: 0rem;
        position: relative;
        top: 6rem;
        opacity: 0.3;
    }
    .first-img__pizza-mrr {
        margin-right: 69px;
    }
}
@media (max-width: 745px){
    .second__jc {
        display: block; 
        justify-content: space-between;
    }
    .text__quality {
        max-width: 75.6rem;
    }
    .img__quality {
        max-width: 37.1rem;
        margin-top: 6rem;
        position: relative;
        left: 0;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
    }
    .second__pdb {
        padding-bottom: 10.6rem;
    }
    .second__pdt {
        padding-bottom: 5.6rem;
    }
    .menu__delivery-pdt {
        padding-top: 4rem;
        margin-bottom: 1rem;
    }
    .menu__delivery {
        
        margin-top: 3rem;
    }
    .review {
        max-width: 64rem;
        width: 100%;
        border-radius: 2rem;
        border: double;
        
        border-color: black;
        /* box-shadow: unset; */
    }
    .review {
        max-width: 37rem;
        max-height: 24rem;
        height: 100%;
        margin: 0 auto;
        box-shadow: none;
    }

    .text__contacts{
        max-width: 25rem;
        width: 100%;
        padding-bottom: 3rem;
    }
    .image-slider__image img {
        max-width: 442px;
    }
    .image-slider{
        margin-top: 2rem;
    }
    .footer__nav {
        display: grid;
        justify-content: space-between;
        max-width: 10.6rem;
        width: 100%;
    }

    .img__footer-logo {
        max-width: 15rem;
        width: 100%;
        position: relative;
    }
    
}
@media (max-width:678px){
    .menu__link {
        max-width: 28rem;
        width: 100%;
        margin-bottom: 2rem;
        /* padding: 1rem 1rem; */
    }
    .header-contacts {
        line-height: 1.5;
        display: none;
    }
    .header-display__media{
        display: none;
    }
    .header__media{
        display: flex;
        max-width: 10rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .header__cart {
        font-size: 2.4rem;
    }
    .btn-bars__style {
        color: #F8A511;
        font-size: 2.5rem;
    }

}

@media (max-width:616px){
    .menu__link {
        max-width: 25rem;
        width: 100%;
        margin-bottom: 2rem;
        /* padding: 1rem 1rem; */
    }
}
@media(max-width: 568px){
    
    .menu__item{
        flex-wrap: wrap;
    }
    .menu__product-card {
        max-width: 25.9rem;
        margin-bottom: 6rem;
        margin-right: 0rem;
    }
    
    .btn--card {
        padding: 1.2rem 6.2rem;
        font-size: 1.3rem;
        
    }
    .menu__product-name {
        
        font-size: 2.2rem;
        
    }

    .first-img__potatos2 {   
        top: -16%; 
        max-width: 14.9rem
    }
    
    
    .second__pdt {
        padding-top: 6.6rem;
    }

    .menu__product-sign {
        background-color: #F8A511;
        cursor: pointer;
        max-width: 2.5rem;
        max-height: 2.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .sign__size-pl {
        padding-left: 2px;
    }
    .sign__size {
        font-size: 2rem;
        position: relative;
        /* padding-right: 68px; */
        /* margin: 0 auto; */
        right: 0;
    }
}
//max-width 420

@media (max-width:550px){
    .container {
        max-width: 54.2rem;
        
    }
    .first{
       
        background-size: auto;
    }
    //шапка
    .header__container {
        
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .header__container img {
        max-width: 13.1rem;
    
    }

    .nav__link {
        
        font-size: 1rem;
    }
    .header-contacts__feedback, .header-position__city {
        font-size: 1rem;
        
    }
    .header-position__time {
        
        font-size: 1rem;
        
    }
    .nav{
        padding-bottom: 1rem;
    }
    .header-contacts__link {
        
        font-size: 1rem;
        
    }

    // конец шапки
    
    .first_fx {
        padding-top: 4.2rem;
    }
    .first__title {
        max-width: 30rem;
        font-size: 2.8rem;
        margin-bottom: 4rem;
    }
    .first__descr {
        margin-bottom: 5rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;
    }
    .first__descr b{
        font-size: 1.9rem;
    }
    .btn--home {
        padding: 1.6rem 7rem;
        font-size: 1.7rem;
    }
    .btn--mb15 {
        margin-bottom: 3rem;
    }
    .first-img__pizza {
       
        max-width: 21.9rem;
        padding-right: 3rem;
        
    }
    .first-container {
        padding-top: 12.6rem;
        padding-bottom: 8.6rem;
    }
    .nav, .header-position, .header-contacts{
        display: none;
    }
    .first-img{
        display: none;
    }
    .first-img__potatos {
        
        top: -10%;
       
        padding-right: 4rem;
        max-width: 13.9rem;
    }
    .first__plus-item .delivery {
        max-width: 1.5rem;
        height: 0.8rem;
    }
    .first__plus-item .pizza__img {
        max-width: 1.6rem;
        height: 1.3rem;
        width: 100%;
    }
    .first__plus-item .cheese {
        max-width: 1.6rem;
        height: 1rem;
    }
    .first__plus {
        max-width: 24.7rem;
        display: flex;
        flex-flow: wrap;
        display: none;
        justify-content: space-between;
    }
    .first__plus-item {
        display: flex;
        max-width: 12rem;
    }
    .first__plus-text {
        font-size: 0.6rem;
        padding-left: 0.7rem;
    }
    .second {
        margin-top: -21px;
    }
    .second-container {
        margin-top: 6rem;
    }
    .menu__title {
        font-size: 2.6rem;
        margin-bottom: 4rem;
    }
    .container__Quality {
        margin-top: 4rem;
    }
    .menu__link {
        max-width: 16rem;
        width: 100%;
        margin-bottom: 2rem;
        /* padding: 1rem 1rem; */
    }
    .menu__list {
        font-size: 1.3rem;
    }
    
    .second__title {
        font-size: 2.2rem;
        max-width: 74.9rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .text {
        max-width: 44.6rem;
        font-size: 1.8rem;
        line-height: 1.3;
        max-width: 21rem;
    }
    .second__pdb {
        padding-bottom: 3.6rem;
    }
    .second__pdt {
        padding-top: 2.6rem;
        padding-bottom: 1.6rem;
    }
    
    
    .text b {
        font-size: 2.4rem;
    }
    .text__NameQuality {
        font-size: 2rem;
        max-width: 17rem;
        line-height: 1.3;
    }
    .li__list {
        margin-top: 4rem;
    }
    .text__quality-header {
        font-size: 1.5rem;
        padding-bottom: 1.2rem;
    }
    .text__quality-description {
        font-size: 1.3rem;
        line-height: 2.3rem;
    }
    .text__quality {
        max-width: 50.6rem;
    }
    .li__img-one {
        max-width: 2rem;
    }

    .li__img {
        margin-right: 2rem;
    }
    .li__img-tt {
        max-width: 2.7rem;
    }
    .img__quality {
        max-width: 24.1rem;
        margin-top: 4rem;
    }
    .second-mrb {
        margin-bottom: 5.5rem;
    }
    .menu__delivery {
        margin-top: 6rem;
    }
    
    .img__clock {
        max-width: 10.8rem;
        margin-top: -5.6rem;
    }
    .menu__product-title {
        
        font-size: 11px;
    
    }
    .menu__delivery-pd {
        padding-bottom: 2.9rem;
    }
    .img__cart {
        max-width: 13.1rem;
        margin-bottom: 0rem;
    }
    .img__bike {
        max-width: 13rem;
    }
    .img__cart, .img__bike {
        margin-top: -6.2rem;
        padding-bottom: 0rem;
    }
    .second__jc {
        display: block;
        
    }
    .menu__delivery-pdt {
        padding-top: 0rem;
        margin-bottom: -1rem;
    }
    .review {
        max-width: 33rem;
    }
    .review__name {
        
        font-size: 1.6rem;
        
    }
    .review__display {
        padding: 2rem 2rem;
    }
    .review__text {
        font-size: 1.2rem;
        padding: 0 2rem 3rem 2rem;
    }
    
    .text__contacts-name {
     
        font-size: 2.5rem;
       
    }
    .text__contacts-description {

        font-size: 2rem;

    }
    .menu__product-name {
        font-size: 1.5rem;
    }
    .menu__product-title {
        font-size: 1rem;
    }
    .media-display{
        display: none;
    }
    
    .second__pdb {
        padding-bottom: 4.6rem;
    }
    .text__contacts {
        max-width: 13rem;
        width: 100%;
        padding-bottom: 3rem;
    }
    .text__contacts-name {
        font-size: 1.5rem;
    }
    .text__contacts-description {
        font-size: 1rem;
    }
    .review__block {
        margin-top: 2.5rem;
        margin-bottom: 6rem;
    }
    .img__footer-logo {
        
        display: none;
    }
    .img__footer-media {
        max-width: 15rem;
        width: 100%;
        position: relative;
    }
    .footer__container {
       
        padding-bottom: 1rem;
        
    }
    .footer-buttom{
        padding-bottom: 3rem;
        display: flex;
    }
    .review__block .swiper-button-prev, .review__block .swiper-button-next{
        display: none;
    }

    .header .popup__title {
        color: black;
        padding-bottom: 3rem;
        font-weight: 700;
        font-size: 1.8rem;
    }
    .header .popup__placeholder {
        font-size: 1.3rem;
        font-weight: 300;
    }
    .header .popup__content {
        background-color: #fff;
        color: black;
        max-width: 40rem;
        width: 100%;
        border-radius: 2rem;
        padding: 3.4rem;
        position: relative;
    }
    .header .popup__btn {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 1.5rem 3rem;
        font-size: 1.2rem;
        max-width: 14rem;
        box-shadow: 0px 5px 0px #997300, 0px 0px 44px rgb(251 189 0 / 80%);
    }
}
@media (max-width: 389px){
    
    .review {
        max-width: 26rem;
    }
}
@media(max-width: 374px){
    .menu__link {
        max-width: 13rem;
        width: 100%;
        margin-bottom: 2rem;
        /* padding: 1rem 1rem; */
    }
    .menu__list {
        font-size: 2rem;
        padding: 1.3rem 3rem;
        font-size: 1.3rem;
    }
     

}
@media (max-width: 1684px){
    
    .first-img {
        
        right: 0;
    }
    
    
}