.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2.5rem;
}

.footer__year{
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'El Messiri';
}

.footer__auther{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'El Messiri';
}