.title{
    font-size: 4.2rem;
    font-weight: 700;
    padding: 0 4.6rem;
    font-family: 'El Messiri';
}
.title-mini{
    font-size: 3rem;
    font-weight: 700;
    padding: 0 2.6rem;
    font-family: 'El Messiri';
}
.text__name {
    font-family: "El Messiri";
    font-style: normal;
    font-weight: 500;
    font-size: 6.4rem;
    color: #fff;
    line-height: 140%;
    text-align: center;
    align-items: center;
    
    max-width: 62rem;
    
}
